
.first{
   float: left;
    width: 22%;
    text-align: center;
}
.second{
    float: left;
    width: 22%;
    text-align: center;
}
.third{
   float: left; 
    width: 22%;
    text-align: center;
}
.fourth{
    float: left;
    width: 22%;
    text-align: center;
}